* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

html {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.loader_wrapper {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #040404;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: opacity, visibility;
    transition-duration: 1s;
}

.loader_wrapper.loaded {
    opacity: 0;
    visibility: hidden;
}

.loader {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 8px solid #2b2929;
    border-left-color: #7633f9;
    -webkit-animation: loader-spin 1s linear infinite;
    animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
    100% {
        transform: rotate( 1turn);
    }
}

.nav_current {
    color: #9273cd!important;
}

.portfolio_wrapper {
    height: 100vh;
    width: 100%;
}

.portfoilio_container {
    height: 100%;
    width: 100%;
}

.nav_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: background .35s
}

@media (max-width: 768px) {
    .nav_wrapper {
        display: none;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 1.5rem;
}

.navbar_links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar_links a {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background: 0 0;
    border: 0;
    padding: 0 .5rem;
    margin: 0;
    font-size: .875rem;
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    color: rgba(255, 255, 255, 0.75);
    transition: color .25s;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}

.header_wrapper {
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    height: 240px;
    background-size: cover;
    background-position: 50%;
    color: hsla(0, 0%, 100%, .95);
    background: url(/images/squares.png);
}

.header_scroll_btn {
    position: absolute;
    width: 100%;
    height: 80px;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: hsla(0, 0%, 100%, .99);
    padding: 1rem;
    outline: 0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header_scroll_btn {
        display: none;
    }
}

.header_scroll_btn_text {
    position: absolute;
    width: 100%;
    height: 80px;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: hsla(0, 0%, 100%, .99);
    padding: 1rem;
}

.header_scroll_btn_text {
    font-size: 1rem;
    font-weight: 600;
    margin-left: .325rem;
}

.header_scroll_btn_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: bob-data-v-f54962f8 2s ease-in-out infinite;
    animation: bounce_header_text 2s ease-in-out infinite;
}

.header_scroll_btn_inner i {
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@keyframes bounce_header_text {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .header_scroll_btn_text {
        font-size: 1.25rem;
    }
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
    .header_wrapper {
        font-size: 26px;
        height: 290px;
        background-size: 100%;
    }
}

@media (min-width: 992px) {
    .header_wrapper {
        font-size: 26px;
        height: 340px;
        background-size: 100%;
    }
}

@media (min-width: 1200px) {
    .header_wrapper {
        font-size: 32px;
        height: 440px;
        background-size: 100%;
    }
}

.about_wrapper {
    position: relative;
}

.about_me {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.about_me_wrapper {
    transform: translate(0px, 0px);
    transition: transform 0.5s ease 0s;
    /* flex-basis: 1263px; */
    visibility: visible;
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    align-items: center;
    padding: 3rem 0;
}

.about_me_wrapper_inner {
    display: flex;
    flex-direction: row;
    backface-visibility: hidden;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-8,
.col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.order-2 {
    order: 2;
}

@media (min-width: 768px) {
    .styled-left {
        text-align: left;
        margin-bottom: 0;
        align-items: center;
    }
}

.styled-left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .order-md-1 {
        order: 1;
    }
}

@media (min-width: 768px) {
    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (min-width: 768px) {
    .order-md-2 {
        order: 2;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.order-1 {
    order: 1;
}

@media (min-width: 768px) {
    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (min-width: 768px) {
    .offset-md-2 {
        margin-left: 16.666667%;
    }
}

.about_me_wrapper_split,
.portfolio_proj_wrapper_split,
.footer_split {
    display: flex;
    display: flex;
    margin-left: 16.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin-left: 16.666667%;
}

.about_me_wrapper_split {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .offset_about {
        margin-left: 16.666667%;
    }
}

@media (min-width: 768px) {
    .offset_about {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

.about_left {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    margin-bottom: 3rem;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .about_left {
        /* margin-left: 16.666667%; */
    }
}

@media (min-width: 420px) {
    .about_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .about_me_wrapper {
        padding: 8rem 0;
    }
}

.section_title {
    position: relative;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0f0f0f;
}

@media (min-width: 992px) {
    .section_title {
        align-items: flex-start;
    }
}

@media (min-width: 992px) {
    .section_title>.title {
        text-align: left;
    }
}

.section_title>.title {
    font-size: 2.25rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: .325rem;
}

.title_desc {
    font-size: 1.175rem;
    font-weight: 800;
    color: rgba(0, 0, 0, .29);
    text-align: center;
}

.about_text {
    font-size: .975rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .65);
    line-height: 1.625;
    text-align: center;
    margin: 0 auto 2rem;
    width: 60%;
}

@media (min-width: 768px) {
    .about_text {
        text-align: left;
        width: auto;
    }
}

.about_right {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.about-img-wrapper {
    border-radius: 50%;
    width: 40%;
    margin: 2rem auto;
}

@media (min-width: 768px) {
    .about-img-wrapper {
        margin-bottom: 0;
        background: #e7e7e7;
        width: 200px;
        height: 200px;
    }
}

.about-img {
    margin: 0;
    padding: 0;
    width: 100%;
    transform: translate(.5rem, -.5rem);
    transition: transform .5s ease-in-out;
    border-radius: inherit;
    height: 100%;
    object-fit: cover;
    object-position: 0px -20px;
}

.about-img-wrapper:hover img {
    transform: translate(1rem, -1rem)
}

.portfolio_proj_wrapper_split {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.portfolio_projects_wrapper {
    background: #f7f4ff;
    padding: 7rem 0;
}

.porfolio_projects_row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 992px) {
    .porfolio_projects_row {
        flex-direction: row;
    }
    .reverse-items {
        flex-direction: column;
    }
}

.reverse-items {
    flex-direction: row-reverse;
}

@media (max-width: 992px) {
    .reverse-items {
        flex-direction: column;
    }
}

.portfolio_project_img {
    perspective: 30px;
}

.portfolio_project_img {
    width: 60%;
    margin-bottom: 3rem;
}

@media (min-width: 992px) {
    .portfolio_project_img {
        margin-bottom: 0;
        flex: 1 1 auto;
        max-width: 55%;
    }
}

.card_img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 2px 2px 50px rgb(0 0 0 / 15%);
    transition: transform .5s;
    object-fit: cover;
    max-height: 311px;
    object-position: top;
}

.portfolio_project_text_right,
.portfolio_project_text_left {
    flex: 1 1 auto;
    text-align: center;
    width: 60%;
}

@media (min-width: 992px) {
    .portfolio_project_text_right {
        padding-left: 60px;
    }
}

@media (min-width: 992px) {
    .portfolio_project_text_left {
        padding-right: 60px;
    }
}

@media (min-width: 992px) {
    .portfolio_project_text_right,
    .portfolio_project_text_left {
        width: 45%;
        text-align: left;
    }
}

.portfolio_proj_h3 {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #0f0f0f;
}

.portfolio_proj_p {
    color: rgba(0, 0, 0, .65);
    line-height: 1.625;
    font-size: .875rem;
    margin-bottom: 1rem;
}

.portfolio_proj_link {
    color: #9273ce;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
}

.footer_wrapper {
    position: relative;
    overflow: hidden;
    padding: 5rem 0;
    background: #171717;
}

.footer_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media (min-width: 768px) {
    .footer_header {
        text-align: left;
    }
}

.footer_header {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .footer_text {
        margin-bottom: 0;
        width: auto;
        text-align: left;
    }
}

.footer_text {
    font-size: 14px;
    line-height: 1.35;
    color: hsla(0, 0%, 100%, .5);
    margin: 0 auto 2rem;
    width: 60%;
    text-align: center;
}

.footer_link {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.35;
    text-decoration: none;
    color: hsla(0, 0%, 100%, .5);
    margin-bottom: .5rem;
    transition: color .35s;
}

.footer_item {
    height: 100%;
}

@media (min-width: 768px) {
    .footer_icons {
        justify-content: flex-start;
    }
}

.footer_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-size: 30px;
    color: hsla(0, 0%, 100%, .45);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: .5rem;
    transition: color .35s;
}